    <h2 mat-dialog-title>Secret Question</h2>
    <mat-dialog-content>
      <p>{{ data.secret_question }}</p>
      <form [formGroup]="form">
        <mat-form-field>
          <input matInput placeholder="Your Answer" formControlName="answer">
        </mat-form-field>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button (click)="close()">Cancel</button>
      <button mat-button [disabled]="form.invalid" (click)="submit()">Submit</button>
    </mat-dialog-actions>