.header {
  background: #303944;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  height: 40px;
  object-fit: contain;
  cursor: pointer;
}

.user-info {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  color: #000;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  min-width: 120px;
  margin-top: 0.5rem;
  z-index: 1000;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  display: block;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font-size: 0.95rem;
  cursor: pointer;
  text-decoration: none;
}

.dropdown-item:hover {
  color: #ff5400;
}


.logout-btn {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.logout-btn:hover {
  background: rgba(255, 255, 255, 0.3);
}

.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

