<app-applicant-header></app-applicant-header>
<!-- ranking based on the report - if sabay sbaay yung mag aassess solution problem -->
<div class="intro-container">
  <div class="intro-card">
    <h2> Quezon Scholarship Application System 
    </h2>

    <p>
      The <strong>1987 Constitution of the Republic of the Philippines</strong> upholds education as a fundamental right and mandates the State to prioritize, protect, and promote quality education for all citizens. It further requires the government to undertake necessary measures to ensure that education is accessible to all at every level.
    </p>

    <p>
      In line with this constitutional mandate, the <strong>Provincial Government of Quezon (PGQ)</strong> has instituted various <strong>scholarship programs and educational financial assistance initiatives</strong> aimed at providing qualified individuals with access to quality and affordable education. These programs seek to support deserving students, promote equal educational opportunities, and constribute to the development of a skilled and empowered citizenry. 
    </p>

    <!-- Agreement Section -->
    <div class="agreement-section">
      <label class="checkbox-container">
        <input type="checkbox" [(ngModel)]="accepted" />
        <span>
          I have read, understood, and agree to the terms of the
          Serbisyong Tunay At Natural College Educational Assistance Program.
        </span>
      </label>

      <div *ngIf="showError" class="error-message">
        You must agree before proceeding.
      </div>
    </div>

    <div class="button-container">
      <button 
        class="proceed-btn" 
        [disabled]="!accepted"
        (click)="proceed()"
      >
        Proceed Application
      </button>
    </div>
  </div>
</div>
