<app-applicant-header></app-applicant-header>
<!-- ranking based on the report - if sabay sbaay yung mag aassess solution problem -->
<div class="intro-container">
  <div class="intro-card">
    <h2> Quezon Scholarship Application System 
    </h2>

    <p>
      The <strong>1987 Constitution of the Republic of the Philippines</strong> upholds education as a fundamental right, mandating the State to prioritize, protect, and promote quality education for all citizens. It also requires the government to take necessary steps to ensure accessibility at all levels.
    </p>

    <p>
      In line with this constitutional mandate, the <strong>Provincial Government of Quezon (PGQ)</strong> actively contributes to national development by fostering educational opportunities. Recognizing the transformative power of education, the PGQ has committed itself to providing quality and accessible learning opportunities through various <strong>scholarship programs and educational assistance grants</strong>.
    </p>

    <p>
      The Serbisyong Tunay At Natural College Educational Assistance Program aims to provide support through financial assistance to qualified individuals, based on their socio-economic status.  Selected individual or recipient shall be entitled to financial aid to support their college education. By doing so, the PGQ aims to break the cycle of poverty and empower communities through education.
    </p>

    <!-- Agreement Section -->
    <div class="agreement-section">
      <label class="checkbox-container">
        <input type="checkbox" [(ngModel)]="accepted" />
        <span>
          I have read, understood, and agree to the terms of the
          Serbisyong Tunay At Natural College Educational Assistance Program.
        </span>
      </label>

      <div *ngIf="showError" class="error-message">
        You must agree before proceeding.
      </div>
    </div>

    <div class="button-container">
      <button 
        class="proceed-btn" 
        [disabled]="!accepted"
        (click)="proceed()"
      >
        Proceed to Program Selection
      </button>
    </div>
  </div>
</div>
